body{
		
	background-color: #ddd;
}
#global{
	width: 900px;
	margin: auto auto;
	background-color: #fff;

}

.tableau_produit{
	width: 900px;
}

.panier{
	display: inline-block;
	float: right;	
}

.commander{
	display: inline-block;
	float: left;	
}